@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');



body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    color: white;
    text-transform: uppercase;
    max-width: 1366px;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 800px;
    padding: 20px;
    height: 90vh;

}

header {
    border: solid hsl(217, 16%, 45%) 3px;
    display: flex;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
}

h2 {
    line-height: 0.8;
    margin-block: 0px;
    font-size: 40px;
    font-weight: 600;
}

.title-div {
    padding: 26px;
}

.points {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 2px;
    padding: clamp(10px, 3vw, 20px) 10px;
    height: auto;
    width: clamp(40px, 14vw, 90px);
}

.you {
    border-radius: 12px 0 0 12px;
}

.cpu {
    border-radius: 0 12px 12px 0;
}

.score {
    margin: 20px;
    width: clamp(50px, 30vw, 180px);
    display: flex;
    justify-content: space-around;
}

.logo {
    padding: 20px;
    width: clamp(60px, 30vw, 200px);
}

h1 {
    line-height: 0.9;
    margin: 0;
    color: hsl(229, 25%, 31%);
    font-size: clamp(30px, 12vw, 80px);
    font-weight: 700;
}

h3 {
    color: hsl(229, 64%, 46%);
    letter-spacing: 3px;
    font-size: clamp(4px, 5vw, 15px);
    margin: 0;
    line-height: 1.0;
}


main {
    margin: 30px 0 10px 0;
}

footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

#rules-button {
    border: solid hsl(217, 16%, 45%) 3px;
    border-radius: 10px;
    width: 130px;
    height: 45px;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

#rules-button:hover {
    background-color: hsla(217, 16%, 45%, 0.372);
    transition: 100ms;
}

.rules-div {
    width: clamp(300px, 70vw, 400px);
    height: clamp(300px, 70vw, 400px);
    position: absolute;
    background-color: white;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    color: hsl(229, 25%, 31%);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    z-index: 1;
    box-shadow: 4px 4px 10px black;
    opacity: 0;
}

#rule-photo {
    width: clamp(250px, 60vw, 350px);
    align-self: center;
}

#rule-title {
    font-weight: 700;
    font-size: 35px;
}

#rules-header {
    display: flex;
    justify-content: space-between;
}

.fa-x {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.fa-x:hover {
    rotate: 180deg;
    transition: 400ms;
}

.faded-background {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.344);
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

.choice-menu {
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: flex;
    visibility: hidden;
    height: 0;
}

.choice-box {
    width: 150px;
    height: 150px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    position: relative;
    transform: translate(16%, 16%);
    box-shadow: inset 0 7px 5px rgba(0, 0, 0, 0.27);
}

.paper {
    position: absolute;
    transform: translate(0%, -23%);
    background-image: linear-gradient(to bottom, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: 0px 7px 0px hsl(230, 51%, 51%);
}

.scissors {
    position: absolute;
    transform: translate(0%, -23%);
    background-image: linear-gradient(to bottom, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: 0px 7px 0px hsl(40, 75%, 38%);
}

.rock {
    position: absolute;
    transform: translate(0%, -23%);
    background-image: linear-gradient(to bottom, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: 0px 7px 0px hsl(349, 56%, 42%);

}

.choice-photo {
    width: 70px;
}

img,
h1,
h2,
h3,
p,
button {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.vs-menu {
    display: flex;
    justify-content: space-between;
    height: 0;
    visibility: hidden;
    opacity: 0;
    margin-inline: 10px;
}

.light-up {

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;

}

.side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.again-div {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    height: 0;
}

.pa-button,
.reset-button {
    border-radius: 10px;
    text-transform: uppercase;
    width: 190px;
    height: 50px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: 3px;
    margin-top: 17px;
    background-color: white;
    border: none;
    box-shadow: 2px 2px 5px black;
    color: hsl(229, 25%, 31%)
}

.pa-button:hover,
.reset-button:hover {
    cursor: pointer;
    color: red;
}

.pa-button:active,
.reset-button:active {
    background-color: rgb(211, 211, 211);
}

.result {
    font-size: 55px;
}

@media (max-width:650px) {
    .active {
        width: 150px;
        height: 150px;
    }

    footer {
        margin-top: 0px;
    }

    .choice-box {
        width: 118px;
        height: 118px;
        transform: translate(14%, 14%);
    }

    .choice-photo {
        width: 50px;
    }

    .bg-triangle {
        width: 280px;
    }

    footer {
        justify-content: center;
    }

    .again-div {
        position: static;
        margin: 0 auto;
        transform: translate(0);
        margin-block: -30px 30px;
    }

    .side {
        justify-content: center;
        flex-direction: column-reverse;
    }

    p {
        margin-top: 30px;
    }
}

@media (max-width:460px) {
    .active {
        width: 130px;
        height: 130px;
    }

    .choice-box {
        width: 102px;
        height: 102px;
        transform: translate(14%, 14%);
    }

    .choice-photo {
        width: 50px;
    }

    .bg-triangle {
        width: 280px;
    }
}
